.about-process {
  border: 1px solid #ededed;
}

.about-process__title {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 90px;
}

.about-process__video {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px;
}

.about-process__text {
  margin: 0 33px;
  margin-bottom: 25px;
}

.about-process__button {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .about-process {
    display: flex;
    flex-direction: column;
  }

  .about-process__title {
    order: 2;
    margin-top: 0;
    margin-bottom: 35px;
    padding-left: 105px;
    font-size: 20px;
  }

  .about-process__video {
    order: 1;
    height: 455px;
    margin-bottom: 40px;
  }

  .about-process__text {
    order: 3;
    margin: 40px;
    margin-top: 0;
    font-size: 15px;
    line-height: 30px;
  }
  .about-process__button {
    order: 4;
    width: 585px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .about-process {
    flex-wrap: wrap;
    height: 458px;
  }

  .about-process__title {
    width: 150px;
    margin-top: 95px;
    margin-bottom: 40px;
    padding-left: 80px;
  }

  .about-process__video {
    width: 680px;
    margin: 0;
  }

  .about-process__text {
    width: 230px;
    margin-left: 80px;
    margin-bottom: 50px;
  }

  .about-process__button {
    width: 230px;
  }
}
