.about-process {
  border: 1px solid transparentize($secondary-color, 0.9);
}

.about-process:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.about-process:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.about-process__title {
  position: relative;
  max-width: 300px;
  margin: 24px 0;
  padding-right: 40px;
  padding-left: 89px;
  font-size: $font-size-s;
  color: #000000;
}

.about-process__title svg {
  position: absolute;
  top: 6px;
  left: 33px;
  fill: $main-color;
}

.about-process__video {
  position: relative;
  width: 100%;
  background-color: $bg-color;
  cursor: pointer;
}

.about-process__video img {
  display: block;
  width: auto;
  margin: 0 auto;
}

.about-process__video svg {
  position: absolute;
  top: 24.7%;
  left: calc(50% - 51px);
}

.about-process__video:hover svg {
  top: 18.7%;
  left: calc(50% - 60px);
  width: 121px;
  height: 92px;
}

.about-process__video:active svg {
  opacity: 0.3;
}

.about-process__text {
  margin: 27px 33px;
  margin-bottom: 25px;
  font-size: $font-size-xxs;
}

.about-process__button {
  width: 192px;
  margin: 0 auto 32px;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .about-process {
    display: flex;
    flex-direction: column;
  }

  .about-process__title {
    order: 2;
    max-width: 100%;
    margin: 39px;
    margin-bottom: 31px;
    padding: 0 66px;
    font-size: $font-size-l;
  }

  .about-process__title svg {
    top: -6px;
    left: 1px;
  }

  .about-process__video {
    order: 1;
    height: 454px;
  }

  .about-process__video img {
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  .about-process__video svg {
    top: 41.6%;
  }

  .about-process__video:hover svg {
    top: 39.6%;
  }

  .about-process__text {
    order: 3;
    margin: 40px;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: $font-size-xs;
    line-height: $font-size-xs + 15;
  }

  .about-process__button {
    order: 4;
    width: calc(100% - 82px);
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .about-process {
    position: relative;
    flex-wrap: wrap;
    min-height: 455px;
  }

  .about-process__title {
    width: 369px;
    margin: 0;
    margin-bottom: 33px;
    margin-left: 682px;
    padding: 97px 135px 0 77px;
  }

  .about-process__title svg {
    top: 30%;
    left: 21.3%;
  }

  .about-process__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 100%;
  }

  .about-process__video svg {
    top: 191px;
  }

  .about-process__text {
    width: 369px;
    margin: 0;
    margin-bottom: 46px;
    margin-left: 682px;
    padding: 0 60px 0 77px;
  }

  .about-process__button {
    width: 230px;
    margin-right: 60px;
    margin-left: 761px;
    padding-top: 13px;
    padding-bottom: 15px;
  }
}
