.about-process {
  border: 1px solid transparentize($secondary-color, 0.9);
}

.about-process__title {
  margin: 25px 0;
  padding-right: 40px;
  padding-left: 90px;
  font-size: $font-size-s;
  color: #000000;
}

.about-process__video {
  width: 100%;
  background-color: $bg-color;
}

.about-process__text {
  margin: 35px;
  margin-bottom: 30px;
  font-size: $font-size-xxs;
}

.about-process__button {
  display: block;
  width: 192px;
  margin: 0 auto 33px;
}

@media (min-width: $tablet-width) {
  .about-process {
    display: flex;
    flex-direction: column;
  }

  .about-process__title {
    order: 2;
    margin: 40px;
    padding: 0 110px;
    font-size: $font-size-l;
  }

  .about-process__video {
    order: 1;
  }

  .about-process__text {
    order: 3;
    margin: 40px;
    margin-top: 0;
    font-size: $font-size-xs;
    line-height: $font-size-xs + 15;
  }

  .about-process__button {
    order: 4;
    width: 584px;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .about-process {
    flex-wrap: wrap;
    height: 455px;
  }

  .about-process__title {
    width: 369px;
    margin: 0;
    margin-bottom: 35px;
    padding: 100px 130px 0 80px;
  }

  .about-process__video {
    width: 682px;
    height: 100%;
  }

  .about-process__text {
    width: 369px;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 60px 0 80px;
  }

  .about-process__button {
    width: 230px;
  }
}
