.advantages__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-top: 55px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    margin-bottom: 40px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantages__item {
    width: 50%;
    padding-bottom: 55px;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      order: 1;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--wool {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }
}
