.advantages__title {
  margin: 0;
  padding-left: 4px;
  font-size: $font-size-xl - 2;
  line-height: $font-size-xl + 3;
  color: #000000;
}

.advantages__list {
  font-weight: 700;
  line-height: $font-size-l;
  color: #000000;
  @include reset-list;
}

.advantages__item {
  padding-top: 83px;
  padding-left: 5px;
  background-repeat: no-repeat;

  &--flower {
    padding-top: 86px;
    background-image: url(../../img/icon-feature-flower.svg);
    background-position: 5.8% 36%;
  }

  &--money {
    background-image: url(../../img/icon-feature-money.svg);
    background-position: 2.6% 31%;
  }

  &--heart {
    background-image: url(../../img/icon-feature-heart.svg);
    background-position: 5.6% 37%;
  }

  &--wool {
    padding-left: 7px;
    background-image: url(../../img/icon-feature-ball.svg);
    background-position: 3.9% 36%;
  }

  &--rocket {
    padding-left: 7px;
    background-image: url(../../img/icon-feature-rocket.svg);
    background-position: 0 33%;
  }

  &--gift {
    padding-left: 7px;
    background-image: url(../../img/icon-feature-gift.svg);
    background-position: 3.6% 34%;
  }
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-size: $font-size-xxl;
    line-height: $font-size-xxl + 7;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-l;
    line-height: $font-size-l + 2;
  }

  .advantages__item {
    width: 50%;
    padding-top: 111px;
    padding-left: 8px;

    &--flower {
      order: 1;
      padding-top: 103px;
      background-position: 5.5% 44.1%;
    }

    &--money {
      order: 3;
      background-position: 2.9% 45%;
    }

    &--heart {
      order: 5;
      background-position: 5.3% 49%;
    }

    &--wool {
      order: 2;
      padding-top: 103px;
      padding-left: 1px;
      background-position: 1% 46%;

    }

    &--rocket {
      order: 4;
      margin-left: -5px;
      padding-left: 6px;
      background-position: 0% 46%;
    }

    &--gift {
      order: 6;
      padding-left: 1px;
      background-position: 1% 48%;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    font-size: $font-size-xxxl;
    line-height: $font-size-xxxl + 4;
  }
}
