.button {
  margin: 0;
  padding: 15px;
  font-weight: 700;
  font-size: $font-size-s;
  line-height: $font-size-s + 3;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
  background-color: #ffffff;
  border: 2px solid $secondary-color;
}
