.button {
  display: block;
  margin: 0;
  padding: 15px;
  font-weight: 700;
  font-size: $font-size-s;
  line-height: $font-size-s + 3;
  text-align: center;
  color: $secondary-color;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid $secondary-color;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: $secondary-color;
  }

  &:active {
    color: transparentize(#ffffff, 0.7);
    background-color: $secondary-color;
  }
}
