.contacts__title {
  margin: -5px 30px 25px 28px;
  font-size: $font-size-s + 1;
  line-height: $font-size-s + 13;
  color: #000000;
}

.contacts__info {
  width: calc(100% - 56px);
  margin: 0 29px 8px 27px;
  border-collapse: collapse;
  font-size: $font-size-xs;
  line-height: $font-size-xs + 15;
}

.contacts__table-cell {
  padding-bottom: 29px;
  vertical-align: top;

  &--legend {
    width: 30%;
    text-transform: lowercase;
  }
}

.contacts__mailto {
  padding-bottom: 4px;
  color: $secondary-color;
  border-bottom: 1px solid $main-color;

  &:hover {
    color: $main-color-dark;
    border-bottom: 1px solid $main-color-dark;
  }

  &:active {
    color: $main-color-dark;
    border-bottom: 1px solid $main-color-dark;
    opacity: 0.3;
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 33px;
  background-color: $bg-color;
}

.contacts__button {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding-top: 13px;
}

@media (min-width: $tablet-width) {
  .contacts {
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 92.6% 5.3%;
  }

  .contacts__title {
    margin: 0 50px 48px 45px;
    font-size: $font-size-xxl;
    line-height: $font-size-xxl + 7;
  }

  .contacts__info {
    width: calc(100% - 90px);
    margin: 0 45px;
    font-size: $font-size-s;
  }

  .contacts__info tbody {
    display: flex;
  }

  .contacts__table-row {
    width: 50%;
  }

  .contacts__table-cell {
    padding-bottom: 55px;

    &--legend {
      width: 25.5%;
    }
  }

  .contacts__mailto {
    padding-bottom: 3px;
    padding-left: 3px;
  }

  .contacts__map {
    margin-bottom: 49px;
  }

  .contacts__button {
    width: 232px;
    padding-top: 15px;
    padding-bottom: 13px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    background-position: 6.3% 24%;
  }

  .contacts__title {
    margin: 81px 0 48px;
    font-size: $font-size-xxxl;
    line-height: $font-size-xxxl + 4;
  }

  .contacts__info {
    width: calc(100% - 40px);
    margin: 0;
    margin-bottom: 49px;
  }

  .contacts__info tbody {
    flex-direction: column;
  }

  .contacts__table-row {
    width: 100%;
  }

  .contacts__table-cell {
    padding-bottom: 29px;
  }

  .contacts__map {
    position: absolute;
    top: 71px;
    right: 2px;
    width: 50%;
  }

  .contacts__button {
    margin: 0;
    margin-right: auto;
    margin-left: 6px;
  }
}
