.fieldset {
  padding: 30px 0;
  border: none;
  border-top: 1px solid $main-color-light;
}

.fieldset__title {
  min-width: 65px;
  text-transform: uppercase;
  background-color: #ffffff;

  &--email {
    min-width: 80px;
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fieldset__list-item {
  padding-top: 15px;
  padding-bottom: 15px;

  &--radio {
    padding-left: 60px;
  }

  &--checkbox {
    padding-left: 60px;
  }
}

.fieldset__label {
  &--name {
    display: block;
    margin-bottom: 15px;
  }
}
