.main-header {
  background-color: #ffffff;

.main-header__title {
  padding-top: 75px;
  padding-bottom: 120px;
  background-color: #fafafa;
}

.main-header__slogan {
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
}
