.main-navigation__list {
  @include reset-list;
}

.main-navigation__item {
  position: relative;
  padding: 26px 30px 28px;
  border-bottom: 1px solid $bg-color-lighten;

  &--logo {
    padding: 22px;
    padding-right: 24px;
  }

  &--new {
    display: none;
  }

  &--sale {
    display: none;
  }

  &--delivery {
    display: none;
  }
}

.main-navigation__logo-link {
  display: block;
  width: 85px;
  height: 35px;
  margin: 0 auto;
}

.main-navigation__toggle {
  position: absolute;
  top: 29px;
  right: 31px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("/img/icon-menu-close.svg");
  border: none;
}

.main-navigation__link {
  padding-left: 45px;
  font-weight: 700;
  color: #000000;
}

.main-navigation__icon {
  position: absolute;
  top: 30px;
  margin-left: 1px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .main-navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .main-navigation__item {
    padding: 0;
    padding-top: 17px;
    padding-bottom: 17px;

    &--logo {
      flex-grow: 1;
      order: 1;
      width: 48%;
    }

    &--catalog {
      order: 4;
      width: 200px;
      padding-left: 49px;
      font-size: $font-size-xs;
      border: none;
    }

    &--order {
      order: 5;
      padding-left: 17px;
      font-size: $font-size-xs;
      border: none;
    }

    &--search {
      order: 2;
      width: 83px;
      font-size: 0;
      border-right: 1px solid $bg-color-lighten;
      border-left: 1px solid $bg-color-lighten;
    }

    &--cart {
      order: 3;
      width: 315px;
      padding-top: 31px;
      padding-bottom: 33px;
      padding-left: 83px;
    }

    &--delivery {
      display: inline-block;
      flex-grow: 1;
      order: 6;
      padding-right: 50px;
      font-size: $font-size-xs;
      text-align: right;
      color: $secondary-color;
      border: none;
    }
  }

  .main-navigation__logo-link {
    margin-right: auto;
    margin-left: 49px;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__link {
    padding-left: 0;
  }

  .main-navigation__icon {
    margin: 0;

    &--search {
      top: 37px;
      left: 41%;
    }

    &--cart {
      top: 34px;
      left: 10%;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__item {
    &--logo {
      order: 3;
      width: 277px;
    }

    &--catalog {
      order: 1;
      width: 235px;
      padding-top: 35px;
      padding-right: 0;
      font-size: $font-size-s;
      border-bottom: 1px solid $bg-color-lighten;
    }

    &--order {
      order: 2;
      width: 235px;
      padding-top: 35px;
      padding-left: 35px;
      font-size: $font-size-s;
      border-bottom: 1px solid $bg-color-lighten;
    }

    &--search {
      order: 4;
      width: 86px;
      margin-left: auto;
    }

    &--cart {
      order: 5;
    }

    &--new {
      display: inline-block;
      order: 6;
      width: 235px;
      padding-left: 50px;
      font-size: $font-size-xs;
      border: none;
    }

    &--sale {
      display: inline-block;
      order: 7;
      width: 235px;
      padding-left: 35px;
      font-size: $font-size-xs;
      border: none;
    }

    &--delivery {
      order: 8;
    }
  }
}
