.main-header__title {
  padding-top: 75px;
  padding-bottom: 120px;
  font-weight: 700;
  font-size: $font-size-xl;
  line-height: $font-size-xl + 3;
  text-align: center;
  color: #000000;
  background-color: $bg-color;
}

.main-header__slogan {
  max-width: 250px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-header__title {
    margin-top: -66px;
    padding-top: 160px;
    padding-bottom: 370px;
    font-size: $font-size-xxl;
    line-height: $font-size-xxl + 7;
  }

  .main-header__slogan {
    max-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-header__navigation {
    max-width: $desktop-width;
    margin: 0 auto;
  }

  .main-header__title {
    padding-bottom: 345px;
    font-size: $font-size-xxxl;
    line-height: $font-size-xxxl + 4;
  }

  .main-header__products-navigation {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}
