.main-form__fieldset {
  margin: 0 30px;
}

.main-form__submission-tip {
  font-size: 14px;
  line-height: 16px;
  margin: 15px 30px 25px;
}

.main-form__button {
  max-width: calc(100% - 60px);
  margin: 0 30px;
  background-color: #ffffff;
}
