.modal {
  width: 100%;
  padding: 35px 30px;
  text-align: center;
  background-color: #ffffff;
}

  .modal__text {
    margin-bottom: 30px;
  }

  .modal__size-list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
  }

  .modal__button {
    background-color: $main-color-light;
    border: none;
  }
