.order__title {
  margin: 0;
  padding: 70px 0 76px;
  font-weight: 700;
  font-size: $font-size-xl;
  line-height: $font-size-xl + 3;
  text-align: center;
  color: #000000;
  background-color: $bg-color;
}

.order__description {
  margin: 22px 0 24px;
  padding: 0 30px;
  font-size: $font-size-xxs;
}

.order__fieldset {
  margin: 0 30px;
  margin-bottom: 32px;
  padding: 0;

  &--product-type {
    margin-bottom: 43px;
  }

  &--product-color {
    margin-bottom: 24px;
  }

  &--user-name {
    margin-bottom: 9px;
  }

  &--additional-requests {
    margin-bottom: 16px;
  }
}

.order__submission {
  margin: 0 30px;
}

.order__submission-tip {
  margin-top: 0;
  margin-bottom: 31px;
  margin-left: -1px;
  font-size: $font-size-xxs + 1;
  line-height: $font-size-xxs + 3;
}

.order__button {
  width: 100%;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .order__title {
    padding-top: 95px;
    padding-bottom: 79px;
    font-size: $font-size-xxl;
    line-height: $font-size-xxl + 7;
    background-image: url("../../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: 0 107%;
    background-size: 100%;
  }

  .order__description {
    margin: 74px 0 50px;
    padding: 0 50px;
    font-size: $font-size-s;
    line-height: $font-size-s + 13;
  }

  .order__fieldset {
    margin: 0;
    padding: 0 52px;

    &--product-type {
      padding-bottom: 35px;
    }

    &--product-color {
      padding-top: 50px;
      padding-bottom: 30px;
    }

    &--user-name {
      padding-top: 47px;
      padding-bottom: 28px;
    }

    &--user-phone {
      padding-top: 45px;
      padding-bottom: 20px;
    }

    &--user-email {
      padding-bottom: 50px;
    }

    &--additional-requests {
      margin-bottom: 53px;
      padding-top: 50px;
    }
  }

  .order__submission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }

  .order__submission-tip {
    order: 2;
    margin-bottom: 0;
    font-size: $font-size-s;
    line-height: $font-size-s + 13;
  }

  .order__button {
    order: 1;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .order__title {
    padding-bottom: 100px;
    font-size: $font-size-xxxl;
    line-height: $font-size-xxxl + 4;
  }

  .order__description {
    max-width: 1050px;
    margin: 124px auto 50px;
    padding: 0 175px;
  }

  .order__fieldset {
    padding-right: 0;
    padding-left: 0;

    &--product-type {
      padding-bottom: 27px;
    }

    &--product-color {
      margin-left: -3px;
      padding-bottom: 28px;
    }

    &--user-name {
      padding-top: 48px;
      padding-bottom: 28px;
    }

    &--additional-requests {
      margin-bottom: 49px;
    }
  }

  .order__submission {
    max-width: 1150px;
    padding: 0 175px;
  }
}
