.page {
  min-width: 320px;
  margin: 0;
  background-color: #ffffff;
}

.page__weekly-offer {
  padding: 30px 27px;
  padding-bottom: 42px;
}

.page__advantages {
  padding: 30px;
}

.page__reviews {
  padding: 30px;
  padding-top: 0;
  padding-bottom: 50px;
}

.page__footer {
  margin-top: 40px;
  padding: 25px 30px;
}

@media (min-width: $tablet-width) {
  .page__weekly-offer {
    padding: 50px;
    padding-bottom: 68px;
  }

  .page__advantages {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 55px;
    padding-bottom: 15px;
  }

  .page__reviews {
    max-width: 875px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 140px;
  }

  .page__footer {
    margin-top: 60px;
    padding: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page__weekly-offer {
    padding-top: 130px;
    padding-bottom: 95px;
  }

  .page__advantages {
    padding: 0;
    padding-top: 55px;
    padding-bottom: 20px;
  }

  .page__reviews {
    max-width: 1050px;
    padding: 0;
    padding-top: 75px;
    padding-left: 175px;
    padding-bottom: 180px;
  }

  .page__contacts {
    width: 1050px;
    margin: 0 auto;
    padding-right: 525px;
  }

  .page__footer {
    margin-top: 105px;
    padding-left: 0;
    padding-right: 0;
  }
}
