.page {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: $font-size-s + 7;
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: $secondary-color;
  background-color: #ffffff;
}

.page__weekly-offer {
  padding: 30px 27px;
  padding-bottom: 42px;
}

.page__advantages {
  max-width: 320px;
  margin: 0 auto;
  padding: 30px;
}

.page__reviews {
  padding: 20px 30px 50px;
}

.page__contacts {
  padding: 40px 0;
}

.page__about-process {
  margin: 0 30px 58px;
}

.page__order {
  margin-bottom: 55px;
}

.page__footer {
  padding: 25px 30px;
}

.page__overlay {
  &--active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.page__modal {
  position: fixed;
  top: 20%;
  left: 0;
  z-index: 3;
  padding: 30px;
}

@media (min-width: $tablet-width) {
  .page__weekly-offer {
    padding: 55px 50px 68px;
  }

  .page__advantages {
    max-width: 768px;
    padding: 50px;
    padding-bottom: 75px;
  }

  .page__reviews {
    padding: 80px 50px 100px;
  }

  .page__contacts {
    padding: 70px 0 55px;
  }

  .page__catalog {
    margin-top: -67px;
  }

  .page__about-process {
    margin: 0 50px 65px;
  }

  .page__order {
    margin-top: -67px;
    margin-bottom: 50px;
  }

  .page__footer {
    padding: 50px;
  }

  .page__modal {
    left: calc(50% - 566px / 2);
    max-width: 566px;
    padding: 45px;
  }
}

@media (min-width: $desktop-width) {
  .page__weekly-offer {
    max-width: 1050px;
    margin: 0 auto;
    padding: 70px 0 95px;
  }

  .page__advantages {
    max-width: 700px;
    margin: 0 auto;
    padding: 65px 0 80px;
  }

  .page__reviews {
    max-width: 1050px;
    margin: 0 auto;
    padding: 80px 0 150px 175px;
  }

  .page__contacts {
    max-width: 1050px;
    margin: 0 auto;
    padding-right: 525px;
    padding-bottom: 110px;
    padding-left: 175px;
  }

  .page__about-process {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
  }
}
