.page {
  min-width: 320px;
  margin: 0;
  background-color: #ffffff;
}

.page__weekly-offer {
  padding: 30px 27px;
  padding-bottom: 42px;
}

.page__advantages {
  padding: 30px;
}

@media (min-width: $tablet-width) {
  .page__weekly-offer {
    padding: 50px;
    padding-bottom: 68px;
  }

  .page__advantages {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 55px;
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page__weekly-offer {
    padding-top: 130px;
    padding-bottom: 95px;
  }

  .page__advantages {
    padding: 0;
    padding-top: 55px;
    padding-bottom: 20px;
  }
}
