.products-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-navigation__link {
  display: block;
  padding: 30px;

  &--items {
    background-color: $main-color-light;
  }

  &--toys {
    background-color: $main-color-dark;
  }
}

.products-navigation__text {
  display: block;
  max-width: 110px;
}

@media (min-width: $tablet-width) {
  .products-navigation__list {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
  }

  .products-navigation__item {
    width: 50%;
  }

  .products-navigation__link {
    padding: 35px;
  }

  .products-navigation__text {
    max-width: 150px;
  }
}

@media (min-width: $desktop-width) {
  .products-navigation__list {
    width: 1050px;
    margin: 0 auto;
  }
}
