.products-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-navigation__link {
  position: relative;
  display: block;
  padding: 25px 28px 30px;
  font-weight: 700;
  font-size: $font-size-m;
  color: #ffffff;

  &--items {
    background-color: $main-color;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &:hover {
    padding-bottom: 35px;
  }

  &:active {
    color: transparentize(#ffffff, 0.7);
  }
}

.products-navigation__text {
  display: block;
  max-width: 110px;
}

.products-navigation__icon {
  position: absolute;
  top: 22%;
  right: calc(0% + 36px);

  &--toys {
    top: 20.3%;
    right: calc(0% + 27px);
  }
}

.products-navigation__icon path {
  fill: transparentize($main-color-dark-icons, 0.5);
}

.products-navigation__link:hover .products-navigation__icon path {
  fill: transparentize($main-color-dark-icons, 0.3);
}

.products-navigation__link:active .products-navigation__icon path {
  fill: transparentize($main-color-dark-icons, 0.7);
}

@media (min-width: $tablet-width) {
  .products-navigation {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -8%;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 24px;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% auto;
    }
  }

  .products-navigation__list {
    display: flex;
    margin: 0 51px;
  }

  .products-navigation__item {
    width: 50%;
  }

  .products-navigation__link {
    padding: 28px 36px 30px;
    font-size: $font-size-l;
    line-height: $font-size-l + 10;
  }

  .products-navigation__text {
    max-width: 150px;
  }

  .products-navigation__icon {
    top: 25%;

    &--toys {
      top: 27%;
      right: 10%;
    }
  }
}

@media (min-width: $desktop-width) {
  .products-navigation__link {
    padding: 30px 36px 27px;
  }

  .products-navigation__icon {
    top: 26%;
    right: 7%;

    &--toys {
      top: 28%;
      right: 6.7%;
    }
  }
}
