.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
}

.product__link {
  order: 2;
}

.product__title {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0 30px;
}

.product__about {
  order: 3;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 30px;
}

.product__image-link {
  order: 1;
  width: 100%;
  margin-bottom: 30px;
  background-color: #e5e5e5;
}

.product__image {
  display: block;
  margin: 0 auto;
  background-image: #ededed;
}

.product__price {
  display: flex;
  justify-content: space-between;
  order: 4;
  margin: 0 30px;
  padding: 25px 0;
  border-top: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .product__title {
    font-size: 20px;
  }

  .product__about {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1149px) {
  .product {
    flex-wrap: wrap;
    height: 335px;
  }

  .product__link {
    width: 50%;
  }

  .product__title {
    padding: 25px;
    padding-bottom: 0;
  }

  .product__about {
    width: 50%;
    margin-bottom: 0;
    padding: 0 25px;
  }

  .product__image-link {
    width: 50%;
    height: 335px;
    margin-bottom: 0;
  }

  .product__price {
    width: calc(50% - 50px);
    margin: 0 25px;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 100%;
  }

  .product__image-link {
    height: 460px;
    margin-bottom: 25px;
  }

  .product__about {
    margin-bottom: 15px;
  }

  .product__price {
    margin-top: auto;
  }
}
