.reviews {
  padding: 30px;
  margin-bottom: 40px;

.reviews__item {
  margin: 0;
  margin-bottom: 35px;
}

.reviews__text {
  margin-bottom: 35px;
}

.reviews__author-nickname {
  display: block;
}

.reviews__toggles {
  margin-bottom: 35px;
}
