.reviews {
  padding: 30px;
  margin-bottom: 40px;

  &__item {
    margin: 0;
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__author-nickname {
    display: block;
  }

  &__toggles {
    margin-bottom: 35px;
  }
}
