.social {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  padding: 0;
  padding-right: 4px;
  list-style: none;
}

.social__item {
  width: 33%;
}

.social__link {
  display: block;
  width: 100%;

  &--instagram {
    padding-top: 5px;
  }

  &--twitter {
    padding-top: 5px;
    padding-right: 1px;
  }
}

.social__link:hover .social__link-image {
  fill: $main-color-dark;
}

.social__link:active .social__link-image {
  opacity: 0.3;
  fill: $main-color-dark;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    margin-top: 5px;
    margin-left: 77px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-left: 71px;
  }
}
