.social {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 146px;
  margin: 0 auto;
  padding: 0;
  padding-right: 4px;
  list-style: none;
}

.social__link {
  display: block;

  &--instagram {
    padding-top: 5px;
  }

  &--twitter {
    padding-top: 5px;
    padding-right: 1px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    margin-top: 8px;
    margin-left: 77px;
  }
}
