.social {
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  justify-content: center;
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }
}
