.weekly-offer {
  background-image: url("../../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 103%;
}

.weekly-offer__title {
  margin-top: 0;
  margin-bottom: 23px;
  padding-left: 2px;
  font-size: $font-size-xl - 2;
  line-height: $font-size-xl + 3;
  color: #000000;
}

.weekly-offer__subtitle {
  display: block;
  margin-top: 5px;
  font-size: $font-size-s;
  line-height: $font-size-s + 3;
  color: $main-color-lightest;
  text-transform: uppercase;
}

.weekly-offer__description {
  margin-bottom: 18px;
  padding-left: 2px;
  font-size: $font-size-xs;
  line-height: $font-size-xs + 9;
}

.weekly-offer__product-info {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.weekly-offer__table-cell {
  padding: 9px 2px 10px;
  font-size: $font-size-xs;
  line-height: $font-size-xs + 5;
  border-bottom: 1px solid transparentize($secondary-color, 0.9);

  &--legend {
    width: 37%;
  }
}

.weekly-offer__image {
  display: block;
  width: calc(100% - 4px);
  margin-bottom: 24px;
  margin-left: 2px;
}

.weekly-offer__price {
  margin-bottom: 26px;
  margin-left: -2px;
  font-weight: 700;
  text-align: center;
}

.weekly-offer__button {
  display: block;
  width: calc(100% - 4px);
  margin: 0 auto;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .weekly-offer {
    position: relative;
  }

  .weekly-offer__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
    margin-left: -2px;
    font-size: $font-size-xxl;
    line-height: $font-size-xxl + 7;
  }

  .weekly-offer__subtitle {
    display: block;
    width: 126px;
    margin-right: 3px;
    line-height: 1;
    text-align: center;
  }

  .weekly-offer__description {
    width: 285px;
    margin-bottom: 36px;
    font-size: $font-size-s;
    line-height: $font-size-s + 13;
  }

  .weekly-offer__product-info {
    width: 290px;
    margin-bottom: 56px;
  }

  .weekly-offer__table-cell {
    &--legend {
      width: 34%;
    }
  }

  .weekly-offer__image {
    position: absolute;
    top: 152px;
    right: 50px;
    width: 334px;
  }

  .weekly-offer__price {
    max-width: 297px;
    margin-bottom: 34px;
    font-size: $font-size-l;
  }

  .weekly-offer__button {
    width: 293px;
    margin: 0;
    margin-left: 1px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-offer__title {
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: $font-size-xxxl;
    line-height: $font-size-xxxl + 4;
  }

  .weekly-offer__subtitle {
    width: 170px;
    padding: 0 40px;
  }

  .weekly-offer__description {
    margin-left: 170px;
  }

  .weekly-offer__product-info {
    margin-left: 170px;
  }

  .weekly-offer__image {
    top: 70px;
    right: 0;
    z-index: -1;
  }

  .weekly-offer__price {
    margin-left: 170px;
  }

  .weekly-offer__button {
    margin-left: 170px;
  }
}
