.text {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: $secondary-color;

  &__weight {
    &--bold {
      font-weight: 700;
    }
  }

  &__size {
    &--xs {
      font-size: 13px;
    }
    &--s {
      font-size: 15px;
    }
    &--m {
      font-size: 17px;
    }
    &--l {
      font-size: 18px;
    }
    &--xl {
      font-size: 19px;
    }
    &--xxl {
      font-size: 25px;
    }
    &--xxxl {
      font-size: 27px;
    }
  }

  &__height {
    &--xxs {
      line-height: 17px;
    }
    &--xs {
      line-height: 18px;
    }
    &--s {
      line-height: 19px;
    }
    &--m {
      line-height: 20px;
    }
    &--l {
      line-height: 24px;
    }
    &--xl {
      line-height: 30px;
    }
  }

  &__color {
    &--black {
      color: #000000;
    }

    &--white {
      color: #ffffff;
    }

    &--grey {
      color: $secondary-color;
    }

    &--light-green {
      color: $main-color-light;
    }
  }

  &__style {
    &--normal {
      font-style: normal;
    }
  }
}
