.text {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: $secondary-color;
}

.text__weight {
  &--bold {
    font-weight: 700;
  }
}

.text__size {
  &--xs {
    font-size: 13px;
  }
  &--s {
    font-size: 15px;
  }
  &--m {
    font-size: 17px;
  }
  &--l {
    font-size: 18px;
  }
  &--xl {
    font-size: 19px;
  }
  &--xxl {
    font-size: 25px;
  }
  &--xxxl {
    font-size: 27px;
  }
}

.text__height {
  &--xxs {
    line-height: 17px;
  }
  &--xs {
    line-height: 18px;
  }
  &--s {
    line-height: 19px;
  }
  &--m {
    line-height: 20px;
  }
  &--l {
    line-height: 24px;
  }
  &--xl {
    line-height: 30px;
  }
}

.text__color {
  &--black {
    color: #000000;
  }

  &--white {
    color: #ffffff;
  }

  &--grey {
    color: $secondary-color;
  }

  &--light-green {
    color: $main-color-light;
  }
}

.text__style {
  &--normal {
    font-style: normal;
  }
}

@media (min-width: $tablet-width) {
  .text__size {
    &--xxl {
      font-size: 43px;
    }

    &--xxxl {
      font-size: 43px;
    }
  }

  .text__height {
    &--xl {
      line-height: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .text__size {
    &--xxxl {
      font-size: 53px;
    }
  }

  .text__height {
    &--xl {
      line-height: 57px;
    }
  }
}
