$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$main-color: #63d1bb;
$main-color-dark: #46c1ae;
$main-color-dark-icons: #149080;
$secondary-color: #444444;
$bg-color: #f1f1f1;

$font-size-xxs: 13px;
$font-size-xs: 15px;
$font-size-s: 17px;
$font-size-m: 19px;
$font-size-l: 20px;
$font-size-xl: 27px;
$font-size-xxl: 43px;
$font-size-xxxl: 53px;
